*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
  /*  box-shadow: 2px  2px 4px black;*/
    padding: 20px;
}
h1{
    color:rgb(212, 6, 109);
    margin-left: 100px;
}
.search{
    overflow: hidden;
    width: 200px;
    border: 1px solid black;
    padding: 4px;
    border-radius: 3px;
}
.search input{
    border: none;
    outline: none;
}
nav ul{
    display: flex;  
}
nav ul .login a{
    border: 1px solid rgb(212, 6, 109);
    color:rgb(212, 6, 109);
     font-weight: bold;
     text-decoration: none;
     padding: 4px;
}
nav ul li{
    list-style: none;
    padding: 10px;
}
nav ul li i{
    color: black;
}
.content{
    display: flex;
    margin-top: 15px;
    margin-left: 5px;
   flex-direction: row;
    position: relative;
}
.content img{
    border-radius: 3px;
   padding: auto;
   margin-left: 60px;
   opacity: .7;
} 
.rac-img .racing{
    position: absolute;
    top:0%;
    right:83%;
    text-align: center;
    margin-top: 70px;
    color:white;  
    text-shadow: 2px 2px 4px #000000;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}
.off-img .off-road{
    position: absolute;
    top:0%;
    right:58%;
    text-align: center;
    margin-top: 70px;
    color: white;  
    text-shadow: 2px 2px 4px #000000;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}
.tour-img .touring{
    position: absolute;
    top:0%;
    right:35%;
    text-align: center;
    margin-top: 70px;
    color: white;  
    text-shadow: 2px 2px 4px #000000;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}
.street-img .street{
    position: absolute;
    top:0%;
    right:10%;
    text-align: center;
    margin-top: 70px;
    color: white;  
    text-shadow: 2px 2px 4px #000000;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}
.banner{
    margin-top: 15px;
    position: relative;
}
.banner img{
    border-radius: 3px;
    margin-left: 2%;
    object-fit: contain;
}
.head{
    position:absolute;
    top: 45%;
    left: 15%;
    bottom: o;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.head strong{
    color:rgb(212, 6, 109);
}
.buy a{
    border: 1px solid rgb(212, 6, 109);
    position: absolute;
    top: 56%;
left: 50%;
background: rgb(212, 6, 109);
padding: 5px;
font-weight: bold;
color: white;
text-decoration: none;
border-radius: 2px;
}
.add{
    margin-top: 15px;
    margin-left: 28%;
}
.add img{
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    object-fit: contain;
    margin-bottom: 10px;
}
footer{
    align-items: center;
    border:1px solid white;
    color: black;
    padding: 20px 18%;
    background-color:pink;
    border-top: rgb(219, 9, 114);
   /* box-shadow: 2px 2px 4px rgb(22, 16, 16);*/
}
footer .foot{
  text-align: center;
}































































/*h1{
    position: relative;
    text-align: center;
    
    color: white;  
    top: 0;
    bottom: 60%;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bolder;
}
h2 strong{
    color:rgb(212, 6, 109);
    text-align: center;
}
.banner a {
    text-decoration: none;
    border: 1px solid rgb(212, 6, 109);
    text-align: center;
    width: 10%;
}
.banner a p{
    border: 1px solid rgb(212, 6, 109);
    text-align: center;
    width: 10%;
}
